@using DemoApp.Models;
@model List<BlogViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div style="margin: 20px;">
        <p>@item.Id</p>
        <h1>@item.Name</h1>
        <div>
            <img style="height: 100px; width: 100px;" src="@item.Image" />
        </div>
    </div>
}
