
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form>
    <div>
        <label>Name: </label>
        <input name="Name" />
    </div>

    <div>
        <label>Age: </label>
        <input type="number" name="Age" />
    </div>

    <div>
        <label>Email: </label>
        <input name="Email" />
    </div>

    <div>
        <label>Phone: </label>
        <input name="Phone" />
    </div>
    <button>Save</button>
</form>
